src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

	<spring:beans>
		<spring:bean id="Bean" name="Bean"
			class="com.mulesoft.training.Database" />
	</spring:beans>
	<http:listener-config 
		name="HTTP_Listener_Configuration" 
		doc:name="HTTP Listener Configuration"
		host="0.0.0.0" 
		port="18081"  />
	<db:derby-config name="Derby_Configuration" doc:name="Derby Configuration"
		url="jdbc:derby:memory:muleEmbeddedDB;create=true"  />
	<jms:activemq-connector name="Active_MQ"
		brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
		
	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/hello" doc:name="/hello" />
		<set-payload value="#['Hello Maven']" doc:name="Hello Maven" />
	</flow>
	
	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/flights" doc:name="/flights" />
		<db:select config-ref="Derby_Configuration" doc:name="SELECT * FROM FLIGHTS">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="To JSON">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
		</dw:transform-message>
		<object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Content-Type"/>
        <logger level="DEBUG" category="com.mulesoft.training" doc:name="Logger"/>
		<jms:outbound-endpoint queue="flights"
			connector-ref="Active_MQ" doc:name="flights" />
	</flow>
	
	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights"
			connector-ref="Active_MQ" doc:name="flights" />
		<logger message="#[payload]" level="INFO" doc:name="INFO" />
	</flow>
</mule>
